In [1]:
import pandas as pd
import xlwings as xw

# AGE

In [2]:
tt_age=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/ghg_intensity/by demo/Analysis_fdcodes-fdlvl3_ghg100g_by age.xlsx")

In [3]:
tt_age.shape

(8911, 7)

In [4]:
tt_age.head()

,tb_ageCat,tb_ageCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
0,2-17,1,Protein Foods,Cold cuts and cured meats,21602100,BEEF JERKY,5.404419
1,2-17,1,Protein Foods,Shellfish,26319110,"SHRIMP, COOKED, NS AS TO COOKING METHOD",5.125374
2,2-17,1,Protein Foods,Shellfish,26319170,"SHRIMP, DRIED",5.125374
3,2-17,1,Protein Foods,Shellfish,26305160,"CRAB, HARD SHELL, STEAMED",5.125374
4,2-17,1,Protein Foods,Shellfish,26319130,"SHRIMP, STEAMED OR BOILED",5.125374

In [5]:
tt_age = tt_age.sort_values(['mean_ghg100'],ascending=[False])

In [6]:
tt_age.tail()

,tb_ageCat,tb_ageCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
6926,40-59,6,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",NaN
8907,60 and over,8,Mixed Dishes,Seafood mixed dishes,27450660,SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...,NaN
8908,60 and over,8,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,NaN
8909,60 and over,8,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,NaN
8910,60 and over,8,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",NaN

In [7]:
tt_age.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Snacks and Sweets', 'Beverages, Nonalcoholic'], dtype=object)

## Protein

In [8]:
ptage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [9]:
ptage2

0                                              BEEF JERKY
1                 SHRIMP, COOKED, NS AS TO COOKING METHOD
2                                           SHRIMP, DRIED
4                               SHRIMP, STEAMED OR BOILED
3                               CRAB, HARD SHELL, STEAMED
                              ...
1873    BLACK, BROWN, OR BAYO BEANS, DRY, COOKED, FAT ...
1874    BLACK, BROWN, OR BAYO BEANS, CANNED, DRAINED, ...
1875    PINTO, CALICO, OR RED MEXICAN BEANS, DRY, COOK...
1876    PINTO, CALICO, OR RED MEXICAN BEANS, CANNED, D...
1877    PINTO, CALICO, OR RED MEXICAN BEANS, CANNED, D...
Name: drxfcsd, Length: 490, dtype: object

In [10]:
app = xw.App()
wb = xw.Book("/Users/clee/Dropbox/Aim 1/Writing/2015-16/FoodSubs.xlsx")

wb.sheets.add('Intensity Protein')
wb.sheets.add('Intensity Mixed Dishes')
wb.sheets.add('Intensity Milk and Dairy')
wb.sheets.add('Intensity Snacks and Sweets')
wb.sheets.add('Intensity Beverages NA')

In [11]:
ttpt = wb.sheets['Intensity Protein']
ttmd = wb.sheets['Intensity Mixed Dishes']
ttmk = wb.sheets['Intensity Milk and Dairy']
ttss = wb.sheets['Intensity Snacks and Sweets']
ttbv = wb.sheets['Intensity Beverages NA']

In [12]:
ttpt.range('A1:M3').font.bold = True
ttpt.range('A1').value = "Supplemental Table 7. 100 highest ranked protein foods on consumed intensity of GHGE, overall and by demographic group"
ttpt.range('A3').value = "Rank"
ttpt.range('B3').value = "Overall"
ttpt.range('C3').value = "Children, aged 2-17 years"
ttpt.range('D3').value = "Emerging adults, aged 18-25 years"
ttpt.range('E3').value = "Young adults, aged 26-39 years"
ttpt.range('F3').value = "Middle adults, aged 40-59 years"
ttpt.range('G3').value = "Older adults, aged 60+ years"
ttpt.range('H3').value = "Men"
ttpt.range('I3').value = "Women"
ttpt.range('J3').value = "Non-Hispanic White"
ttpt.range('K3').value = "Non-Hispanic Black"
ttpt.range('L3').value = "Hispanic or Mexican American"
ttpt.range('M3').value = "Other race"

In [13]:
#Write on a specific cell range with a specific range of DF
ttpt.range('C4').options(index=False,header=False).value = ptage2.iloc[0:100]
ttpt.range('D4').options(index=False,header=False).value = ptage18.iloc[0:100]
ttpt.range('E4').options(index=False,header=False).value = ptage26.iloc[0:100]
ttpt.range('F4').options(index=False,header=False).value = ptage40.iloc[0:100]
ttpt.range('G4').options(index=False,header=False).value = ptage60.iloc[0:100]

## Mixed Dishes

In [14]:
mdage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [15]:
mdage2

12                                              CRAB CAKE
53                                    SOFT TACO WITH FISH
55                               BEEF WITH BARBECUE SAUCE
57                                           SHRIMP SALAD
61      DOUBLE HAMBURGER, 2 MEDIUM PATTIES, PLAIN, ON ...
                              ...
1865                                       RICE SOUP, NFS
1872                              FISH STOCK, HOME RECIPE
1880                               BEAN SOUP, HOME RECIPE
1881                                 SOUP, MOSTLY NOODLES
1950             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
Name: drxfcsd, Length: 691, dtype: object

In [16]:
ttmd.range('A1:M3').font.bold = True
ttmd.range('A1').value = "Supplemental Table 8. 100 highest ranked mixed dishes on consumed intensity of GHGE, overall and by demographic group"
ttmd.range('A3').value = "Rank"
ttmd.range('B3').value = "Overall"
ttmd.range('C3').value = "Children, aged 2-17 years"
ttmd.range('D3').value = "Emerging adults, aged 18-25 years"
ttmd.range('E3').value = "Young adults, aged 26-39 years"
ttmd.range('F3').value = "Middle adults, aged 40-59 years"
ttmd.range('G3').value = "Older adults, aged 60+ years"
ttmd.range('H3').value = "Men"
ttmd.range('I3').value = "Women"
ttmd.range('J3').value = "Non-Hispanic White"
ttmd.range('K3').value = "Non-Hispanic Black"
ttmd.range('L3').value = "Hispanic or Mexican American"
ttmd.range('M3').value = "Other race"

In [17]:
#Write on a specific cell range with a specific range of DF
ttmd.range('C4').options(index=False,header=False).value = mdage2.iloc[0:100]
ttmd.range('D4').options(index=False,header=False).value = mdage18.iloc[0:100]
ttmd.range('E4').options(index=False,header=False).value = mdage26.iloc[0:100]
ttmd.range('F4').options(index=False,header=False).value = mdage40.iloc[0:100]
ttmd.range('G4').options(index=False,header=False).value = mdage60.iloc[0:100]

## Milk & Dairy

In [18]:
mkage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [19]:
mkage2

179                   CHEESE, CHEDDAR
178           CHEESE, MOZZARELLA, NFS
177                CHEESE, COLBY JACK
176                       CHEESE, NFS
175     CHEESE, MOZZARELLA, PART SKIM
                    ...
1691           ALMOND MILK, SWEETENED
1779         ALMOND MILK, UNSWEETENED
1809                 SOY MILK, NONFAT
1810                  SOY MILK, LIGHT
1811                         SOY MILK
Name: drxfcsd, Length: 137, dtype: object

In [20]:
ttmk.range('A1:M3').font.bold = True
ttmk.range('A1').value = "Supplemental Table 9. 100 highest ranked milk and dairy foods on consumed intensity of GHGE, overall and by demographic group"
ttmk.range('A3').value = "Rank"
ttmk.range('B3').value = "Overall"
ttmk.range('C3').value = "Children, aged 2-17 years"
ttmk.range('D3').value = "Emerging adults, aged 18-25 years"
ttmk.range('E3').value = "Young adults, aged 26-39 years"
ttmk.range('F3').value = "Middle adults, aged 40-59 years"
ttmk.range('G3').value = "Older adults, aged 60+ years"
ttmk.range('H3').value = "Men"
ttmk.range('I3').value = "Women"
ttmk.range('J3').value = "Non-Hispanic White"
ttmk.range('K3').value = "Non-Hispanic Black"
ttmk.range('L3').value = "Hispanic or Mexican American"
ttmk.range('M3').value = "Other race"

In [21]:
#Write on a specific cell range with a specific range of DF
ttmk.range('C4').options(index=False,header=False).value = mkage2.iloc[0:100]
ttmk.range('D4').options(index=False,header=False).value = mkage18.iloc[0:100]
ttmk.range('E4').options(index=False,header=False).value = mkage26.iloc[0:100]
ttmk.range('F4').options(index=False,header=False).value = mkage40.iloc[0:100]
ttmk.range('G4').options(index=False,header=False).value = mkage60.iloc[0:100]

## Beverages NA

In [22]:
bvage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [23]:
bvage2

611           FRUIT AND VEGETABLE SMOOTHIE, ADDED PROTEIN
804                            COCONUT WATER, UNSWEETENED
984                                WATERMELON JUICE, 100%
1070    FRUIT SMOOTHIE, WITH WHOLE FRUIT AND DAIRY, AD...
1078                              POMEGRANATE JUICE, 100%
                              ...
1943                              FRUIT JUICE DRINK, DIET
1944                             FRUIT JUICE DRINK, LIGHT
1945                                  TEA, HOT, CHAMOMILE
1946                                     TEA, HOT, HERBAL
1947                                   TEA, HOT, HIBISCUS
Name: drxfcsd, Length: 176, dtype: object

In [24]:
ttbv.range('A1:M3').font.bold = True
ttbv.range('A1').value = "Supplemental Table 10. 100 highest ranked non-alcoholic beverages on consumed intensity of GHGE, overall and by demographic group"
ttbv.range('A3').value = "Rank"
ttbv.range('B3').value = "Overall"
ttbv.range('C3').value = "Children, aged 2-17 years"
ttbv.range('D3').value = "Emerging adults, aged 18-25 years"
ttbv.range('E3').value = "Young adults, aged 26-39 years"
ttbv.range('F3').value = "Middle adults, aged 40-59 years"
ttbv.range('G3').value = "Older adults, aged 60+ years"
ttbv.range('H3').value = "Men"
ttbv.range('I3').value = "Women"
ttbv.range('J3').value = "Non-Hispanic White"
ttbv.range('K3').value = "Non-Hispanic Black"
ttbv.range('L3').value = "Hispanic or Mexican American"
ttbv.range('M3').value = "Other race"

In [25]:
#Write on a specific cell range with a specific range of DF
ttbv.range('C4').options(index=False,header=False).value = bvage2.iloc[0:100]
ttbv.range('D4').options(index=False,header=False).value = bvage18.iloc[0:100]
ttbv.range('E4').options(index=False,header=False).value = bvage26.iloc[0:100]
ttbv.range('F4').options(index=False,header=False).value = bvage40.iloc[0:100]
ttbv.range('G4').options(index=False,header=False).value = bvage60.iloc[0:100]

## Snacks & Sweets

In [26]:
ssage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [27]:
ssage2

345                          CHOCOLATE, SEMI-SWEET MORSEL
348                           MILK CHOCOLATE CANDY, PLAIN
361                              CHOCOLATE, SWEET OR DARK
363                                              TRUFFLES
373     TOBLERONE, MILK CHOCOLATE WITH HONEY AND ALMON...
                              ...
1819    SWEET BREAD DOUGH, FILLED WITH BEAN PASTE, MEA...
1835                                              ICE POP
1928        ICE POP, SWEETENED WITH LOW CALORIE SWEETENER
1948       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
1949                   DIETETIC OR LOW CALORIE HARD CANDY
Name: drxfcsd, Length: 457, dtype: object

In [28]:
ttss.range('A1:M3').font.bold = True
ttss.range('A1').value = "Supplemental Table 11. 100 highest ranked snacks and sweets on consumed intensity of GHGE, overall and by demographic group"
ttss.range('A3').value = "Rank"
ttss.range('B3').value = "Overall"
ttss.range('C3').value = "Children, aged 2-17 years"
ttss.range('D3').value = "Emerging adults, aged 18-25 years"
ttss.range('E3').value = "Young adults, aged 26-39 years"
ttss.range('F3').value = "Middle adults, aged 40-59 years"
ttss.range('G3').value = "Older adults, aged 60+ years"
ttss.range('H3').value = "Men"
ttss.range('I3').value = "Women"
ttss.range('J3').value = "Non-Hispanic White"
ttss.range('K3').value = "Non-Hispanic Black"
ttss.range('L3').value = "Hispanic or Mexican American"
ttss.range('M3').value = "Other race"

In [29]:
#Write on a specific cell range with a specific range of DF
ttss.range('C4').options(index=False,header=False).value = ssage2.iloc[0:100]
ttss.range('D4').options(index=False,header=False).value = ssage18.iloc[0:100]
ttss.range('E4').options(index=False,header=False).value = ssage26.iloc[0:100]
ttss.range('F4').options(index=False,header=False).value = ssage40.iloc[0:100]
ttss.range('G4').options(index=False,header=False).value = ssage60.iloc[0:100]

# GENDER

In [30]:
tt_gd=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/ghg_intensity/by demo/Analysis_fdcodes-fdlvl3_ghg100g_by gender.xlsx")

In [31]:
tt_gd.shape

(5258, 7)

In [32]:
tt_gd.head()

,genderCat,genderCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
0,Male,1,Protein Foods,Cold cuts and cured meats,21602100,BEEF JERKY,5.404419
1,Male,1,Protein Foods,Shellfish,26305110,"CRAB, COOKED, NS AS TO COOKING METHOD",5.125374
2,Male,1,Protein Foods,Shellfish,26305160,"CRAB, HARD SHELL, STEAMED",5.125374
3,Male,1,Protein Foods,Shellfish,26311110,"LOBSTER, COOKED, NS AS TO COOKING METHOD",5.125374
4,Male,1,Protein Foods,Shellfish,26319170,"SHRIMP, DRIED",5.125374

In [33]:
tt_gd = tt_gd.sort_values(['mean_ghg100'],ascending=[False])

In [34]:
tt_gd.tail()

,genderCat,genderCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
2606,Male,1,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,NaN
5254,Female,2,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",NaN
5255,Female,2,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,NaN
5256,Female,2,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,NaN
5257,Female,2,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",NaN

In [35]:
tt_gd.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Snacks and Sweets', 'Beverages, Nonalcoholic'], dtype=object)

## Protein

In [36]:
ptgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [37]:
ptgdf

2607                                           BEEF JERKY
2609                CRAB, COOKED, NS AS TO COOKING METHOD
2610                            CRAB, HARD SHELL, STEAMED
2611                            SHRIMP, STEAMED OR BOILED
2608                                        SHRIMP, DRIED
                              ...
5153    BLACK, BROWN, OR BAYO BEANS, CANNED, DRAINED, ...
5155    LIMA BEANS, DRY, COOKED, FAT NOT ADDED IN COOKING
5156    PINTO, CALICO, OR RED MEXICAN BEANS, DRY, COOK...
5157    PINTO, CALICO, OR RED MEXICAN BEANS, CANNED, D...
5158    PINTO, CALICO, OR RED MEXICAN BEANS, CANNED, D...
Name: drxfcsd, Length: 722, dtype: object

In [38]:
#Write on a specific cell range with a specific range of DF
ttpt.range('H4').options(index=False,header=False).value = ptgdm.iloc[0:100]
ttpt.range('I4').options(index=False,header=False).value = ptgdf.iloc[0:100]

## Mixed Dishes

In [39]:
mdgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [40]:
mdgdm

23                                              CRAB CAKE
63                                          STEAK TARTARE
71                       BEEF, GROUND, WITH EGG AND ONION
72                                        SHRIMP TERIYAKI
74                                    SOFT TACO WITH FISH
                              ...
2520                                 SOUP, MOSTLY NOODLES
2581    DARK-GREEN LEAFY VEGETABLE SOUP, MEATLESS, ASI...
2603         EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN
2604    SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...
2606             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
Name: drxfcsd, Length: 969, dtype: object

In [41]:
#Write on a specific cell range with a specific range of DF
ttmd.range('H4').options(index=False,header=False).value = mdgdm.iloc[0:100]
ttmd.range('I4').options(index=False,header=False).value = mdgdf.iloc[0:100]

## Milk & Dairy

In [42]:
mkgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [43]:
mkgdf

2839    CHEESE SPREAD, AMERICAN OR CHEDDAR CHEESE BASE
2846                     CHEESE, MOZZARELLA, PART SKIM
2847                                 CHEESE, PROVOLONE
2838                      CHEESE, PARMESAN, DRY GRATED
2844                           CHEESE, MOZZARELLA, NFS
                             ...
5013                          ALMOND MILK, UNSWEETENED
5020                                         RICE MILK
5053                                          SOY MILK
5054                                  SOY MILK, NONFAT
5055                                   SOY MILK, LIGHT
Name: drxfcsd, Length: 160, dtype: object

In [44]:
#Write on a specific cell range with a specific range of DF
ttmk.range('H4').options(index=False,header=False).value = mkgdm.iloc[0:100]
ttmk.range('I4').options(index=False,header=False).value = mkgdf.iloc[0:100]

## Beverages NA

In [45]:
bvgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [46]:
bvgdf

3442    FRUIT AND VEGETABLE SMOOTHIE, ADDED PROTEIN
3694                     COCONUT WATER, UNSWEETENED
3730                       COCONUT WATER, SWEETENED
3847        COFFEE, CAFE MOCHA, WITH NON-DAIRY MILK
3935                         WATERMELON JUICE, 100%
                           ...
5249                        FRUIT JUICE DRINK, DIET
5250                       FRUIT JUICE DRINK, LIGHT
5251                               TEA, HOT, HERBAL
5252                            TEA, HOT, CHAMOMILE
5253                             TEA, HOT, HIBISCUS
Name: drxfcsd, Length: 238, dtype: object

In [47]:
#Write on a specific cell range with a specific range of DF
ttbv.range('H4').options(index=False,header=False).value = bvgdm.iloc[0:100]
ttbv.range('I4').options(index=False,header=False).value = bvgdf.iloc[0:100]

## Snacks & Sweets

In [48]:
ssgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [49]:
ssgdf

3078                         CHOCOLATE, SEMI-SWEET MORSEL
3081                          MILK CHOCOLATE CANDY, PLAIN
3098                             CHOCOLATE, SWEET OR DARK
3099                                             TRUFFLES
3110    TOBLERONE, MILK CHOCOLATE WITH HONEY AND ALMON...
                              ...
5066    SWEET BREAD DOUGH, FILLED WITH BEAN PASTE, MEA...
5094                                              ICE POP
5230        ICE POP, SWEETENED WITH LOW CALORIE SWEETENER
5256                   DIETETIC OR LOW CALORIE HARD CANDY
5257       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
Name: drxfcsd, Length: 564, dtype: object

In [50]:
#Write on a specific cell range with a specific range of DF
ttss.range('H4').options(index=False,header=False).value = ssgdm.iloc[0:100]
ttss.range('I4').options(index=False,header=False).value = ssgdf.iloc[0:100]

# RACE

In [51]:
tt_rc=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/ghg_intensity/by demo/Analysis_fdcodes-fdlvl3_ghg100g_by race.xlsx")

In [52]:
tt_rc.shape

(7561, 7)

In [53]:
tt_rc.head()

,raceCat,raceCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
0,Non-Hispanic White,1,Protein Foods,Cold cuts and cured meats,21602100,BEEF JERKY,5.404419
1,Non-Hispanic White,1,Protein Foods,Shellfish,26319130,"SHRIMP, STEAMED OR BOILED",5.125374
2,Non-Hispanic White,1,Protein Foods,Shellfish,26319170,"SHRIMP, DRIED",5.125374
3,Non-Hispanic White,1,Protein Foods,Shellfish,26319110,"SHRIMP, COOKED, NS AS TO COOKING METHOD",5.125374
4,Non-Hispanic White,1,Protein Foods,Shellfish,26305160,"CRAB, HARD SHELL, STEAMED",5.125374

In [54]:
tt_rc = tt_rc.sort_values(['mean_ghg100'],ascending=[False])

In [55]:
tt_rc.tail()

,raceCat,raceCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,mean_ghg100
5922,Mexican American and other Hispanic,3,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",NaN
5923,Mexican American and other Hispanic,3,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",NaN
5924,Mexican American and other Hispanic,3,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,NaN
7559,Other Race,4,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",NaN
7560,Other Race,4,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,NaN

In [56]:
tt_rc.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Snacks and Sweets', 'Beverages, Nonalcoholic'], dtype=object)

## Protein

In [57]:
ptrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [58]:
ptrco

5925                                           BEEF JERKY
5929              SHRIMP, COOKED, NS AS TO COOKING METHOD
5928                                        SHRIMP, DRIED
5927                            CRAB, HARD SHELL, STEAMED
5926                            SHRIMP, STEAMED OR BOILED
                              ...
7484                                   PUMPKIN SEEDS, NFS
7485                                PUMPKIN SEEDS, SALTED
7486                              PUMPKIN SEEDS, UNSALTED
7487    BLACK, BROWN, OR BAYO BEANS, DRY, COOKED, FAT ...
7488    BLACK, BROWN, OR BAYO BEANS, CANNED, DRAINED, ...
Name: drxfcsd, Length: 454, dtype: object

In [59]:
#Write on a specific cell range with a specific range of DF
ttpt.range('J4').options(index=False,header=False).value = ptrcw.iloc[0:100]
ttpt.range('K4').options(index=False,header=False).value = ptrcb.iloc[0:100]
ttpt.range('L4').options(index=False,header=False).value = ptrch.iloc[0:100]
ttpt.range('M4').options(index=False,header=False).value = ptrco.iloc[0:100]

## Mixed Dishes

In [60]:
mdrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [61]:
mdrco

5942                                            CRAB CAKE
5970                            SHRIMP WITH CRAB STUFFING
5972                                        STEAK TARTARE
5979                                      SHRIMP TERIYAKI
5980                                  SOFT TACO WITH FISH
                              ...
7483                                   ONION SOUP, FRENCH
7490                               BEAN SOUP, HOME RECIPE
7491                                 SOUP, MOSTLY NOODLES
7492    CHICKEN OR TURKEY BROTH, LESS OR REDUCED SODIU...
7541    DARK-GREEN LEAFY VEGETABLE SOUP, MEATLESS, ASI...
Name: drxfcsd, Length: 545, dtype: object

In [62]:
#Write on a specific cell range with a specific range of DF
ttmd.range('J4').options(index=False,header=False).value = mdrcw.iloc[0:100]
ttmd.range('K4').options(index=False,header=False).value = mdrcb.iloc[0:100]
ttmd.range('L4').options(index=False,header=False).value = mdrch.iloc[0:100]
ttmd.range('M4').options(index=False,header=False).value = mdrco.iloc[0:100]

## Milk & Dairy

In [63]:
mkrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [64]:
mkrco

6058                      CHEESE, NFS
6059    CHEESE, MOZZARELLA, PART SKIM
6060                  CHEESE, CHEDDAR
6061                 CHEESE, AMERICAN
6063          CHEESE, MOZZARELLA, NFS
                    ...
7318           ALMOND MILK, SWEETENED
7392         ALMOND MILK, UNSWEETENED
7416                  SOY MILK, LIGHT
7417                 SOY MILK, NONFAT
7418                         SOY MILK
Name: drxfcsd, Length: 106, dtype: object

In [65]:
#Write on a specific cell range with a specific range of DF
ttmk.range('J4').options(index=False,header=False).value = mkrcw.iloc[0:100]
ttmk.range('K4').options(index=False,header=False).value = mkrcb.iloc[0:100]
ttmk.range('L4').options(index=False,header=False).value = mkrch.iloc[0:100]
ttmk.range('M4').options(index=False,header=False).value = mkrco.iloc[0:100]

## Beverages NA

In [66]:
bvrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [67]:
bvrco

6418          FRUIT AND VEGETABLE SMOOTHIE, ADDED PROTEIN
6578                           COCONUT WATER, UNSWEETENED
6599                             COCONUT WATER, SWEETENED
6723                               WATERMELON JUICE, 100%
6794    FRUIT SMOOTHIE, WITH WHOLE FRUIT AND DAIRY, AD...
                              ...
7554                                      CEREAL BEVERAGE
7556                             FRUIT JUICE DRINK, LIGHT
7555                              FRUIT JUICE DRINK, DIET
7557                                  TEA, HOT, CHAMOMILE
7558                                     TEA, HOT, HERBAL
Name: drxfcsd, Length: 169, dtype: object

In [68]:
#Write on a specific cell range with a specific range of DF
ttbv.range('J4').options(index=False,header=False).value = bvrcw.iloc[0:100]
ttbv.range('K4').options(index=False,header=False).value = bvrcb.iloc[0:100]
ttbv.range('L4').options(index=False,header=False).value = bvrch.iloc[0:100]
ttbv.range('M4').options(index=False,header=False).value = bvrco.iloc[0:100]

## Snacks & Sweets

In [69]:
ssrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [70]:
ssrco

6198                         CHOCOLATE, SEMI-SWEET MORSEL
6199                          MILK CHOCOLATE CANDY, PLAIN
6213                             CHOCOLATE, SWEET OR DARK
6215                                             TRUFFLES
6221    TOBLERONE, MILK CHOCOLATE WITH HONEY AND ALMON...
                              ...
7403                                           PITA CHIPS
7427    SWEET BREAD DOUGH, FILLED WITH BEAN PASTE, MEA...
7444                                              ICE POP
7559       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
7560                   DIETETIC OR LOW CALORIE HARD CANDY
Name: drxfcsd, Length: 362, dtype: object

In [71]:
#Write on a specific cell range with a specific range of DF
ttss.range('J4').options(index=False,header=False).value = ssrcw.iloc[0:100]
ttss.range('K4').options(index=False,header=False).value = ssrcb.iloc[0:100]
ttss.range('L4').options(index=False,header=False).value = ssrch.iloc[0:100]
ttss.range('M4').options(index=False,header=False).value = ssrco.iloc[0:100]

# OVERALL

In [72]:
tt_ov=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/ghg_intensity/Analysis_foodcodes_ghg.xlsx")

In [73]:
tt_ov.shape

(4882, 7)

In [74]:
tt_ov.head()

,foodcat_lvl1,food_code,drxfcsd,mean_ghg100,med_ghg100,sd_ghg100,freq
0,Protein Foods,21602100,BEEF JERKY,5.404419,5.404419,3.590310e-15,48
1,Protein Foods,26319170,"SHRIMP, DRIED",5.125374,5.125374,0.000000e+00,5
2,Protein Foods,26305110,"CRAB, COOKED, NS AS TO COOKING METHOD",5.125374,5.125374,0.000000e+00,3
3,Protein Foods,26311110,"LOBSTER, COOKED, NS AS TO COOKING METHOD",5.125374,5.125374,NaN,1
4,Protein Foods,26305160,"CRAB, HARD SHELL, STEAMED",5.125374,5.125374,9.193520e-16,15

In [75]:
tt_ov = tt_ov.sort_values(['mean_ghg100'],ascending=[False])

In [76]:
tt_ov.tail()

,foodcat_lvl1,food_code,drxfcsd,mean_ghg100,med_ghg100,sd_ghg100,freq
4877,Sugars,91200005,"SUGAR SUBSTITUTE, LIQUID, NFS",NaN,NaN,NaN,1
4878,Infant Formula & Baby Food,57806200,"OATMEAL CEREAL WITH FRUIT, BABY FOOD, DRY, INS...",NaN,NaN,NaN,1
4879,Sugars,91106010,SUGAR SUBSTITUTE AND SUGAR BLEND,NaN,NaN,NaN,1
4880,Infant Formula & Baby Food,67105030,"BANANAS, BABY FOOD, STRAINED",NaN,NaN,NaN,1
4881,Infant Formula & Baby Food,76201020,"CARROTS, BABY FOOD, JUNIOR",NaN,NaN,NaN,1

In [77]:
tt_ov.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Other', 'Fats and Oils',
       'Milk and Dairy', 'Condiments and Sauces', 'Vegetables', 'Sugars',
       'Snacks and Sweets', 'Fruit', 'Beverages, Nonalcoholic', 'Grains',
       'Alcoholic Beverages', 'Water', 'Infant Formula & Baby Food'],
      dtype=object)

## 5 categories

In [78]:
pt = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Protein Foods"]).loc[:,('drxfcsd')]
md = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Mixed Dishes"]).loc[:,('drxfcsd')]
mk = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Milk and Dairy"]).loc[:,('drxfcsd')]
bv = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Beverages, Nonalcoholic"]).loc[:,('drxfcsd')]
ss = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Snacks and Sweets"]).loc[:,('drxfcsd')]

In [79]:
md

28                                              CRAB CAKE
75                              SHRIMP WITH CRAB STUFFING
77                                          STEAK TARTARE
87                       BEEF, GROUND, WITH EGG AND ONION
89                                        SHRIMP TERIYAKI
                              ...
4775    DARK-GREEN LEAFY VEGETABLE SOUP, MEATLESS, ASI...
4779    LIQUID FROM STEWED KIDNEY BEANS, PUERTO RICAN ...
4812             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
4835         EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN
4852    SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...
Name: drxfcsd, Length: 1181, dtype: object

In [80]:
#Write on a specific cell range with a specific range of DF
ttpt.range('B4').options(index=False,header=False).value = pt.iloc[0:100]
ttmd.range('B4').options(index=False,header=False).value = md.iloc[0:100]
ttmk.range('B4').options(index=False,header=False).value = mk.iloc[0:100]
ttbv.range('B4').options(index=False,header=False).value = bv.iloc[0:100]
ttss.range('B4').options(index=False,header=False).value = ss.iloc[0:100]

In [81]:
rk = list(range(1,101))
print(rk)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [82]:
#Write list 1-100 on 1st column (need to transpose)
ttpt.range('A4').options(index=False,header=False,transpose=True).value = rk
ttmd.range('A4').options(index=False,header=False,transpose=True).value = rk
ttmk.range('A4').options(index=False,header=False,transpose=True).value = rk
ttbv.range('A4').options(index=False,header=False,transpose=True).value = rk
ttss.range('A4').options(index=False,header=False,transpose=True).value = rk

In [84]:
wb.save()