In [1]:
import pandas as pd
import xlwings as xw

# AGE

In [2]:
tt_age=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/total_ghg/by demo/Analysis_fdcodes-fdlvl3_ghgcons_by age.xlsx")

In [3]:
tt_age.shape

(8911, 7)

In [4]:
tt_age.head()

,tb_ageCat,tb_ageCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
0,2-17,1,Milk and Dairy,"Milk, reduced fat",11112110,"MILK, REDUCED FAT (2%)",8.145810e+06
1,2-17,1,Milk and Dairy,"Milk, whole",11111000,"MILK, WHOLE",5.477086e+06
2,2-17,1,Mixed Dishes,Burritos and tacos,58101345,SOFT TACO WITH MEAT,5.379667e+06
3,2-17,1,Protein Foods,"Beef, excludes ground",21101130,"BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN",4.547247e+06
4,2-17,1,Mixed Dishes,"Pasta mixed dishes, excludes macaroni and cheese",58146322,"PASTA WITH TOMATO-BASED SAUCE AND MEAT, HOME R...",3.659744e+06

In [5]:
tt_age = tt_age.sort_values(['total_ghgcons'],ascending=[False])

In [6]:
tt_age.tail()

,tb_ageCat,tb_ageCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
6926,40-59,6,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,0.0
6925,40-59,6,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,0.0
6924,40-59,6,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",0.0
6923,40-59,6,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",0.0
8910,60 and over,8,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,0.0

In [7]:
tt_age.foodcat_lvl1.unique()

array(['Protein Foods', 'Milk and Dairy', 'Mixed Dishes',
       'Beverages, Nonalcoholic', 'Snacks and Sweets'], dtype=object)

## Protein

In [8]:
ptage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [9]:
ptage2

3           BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN
9                 HAM, PREPACKAGED OR DELI, LUNCHEON MEAT
10       BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN
11                              GROUND BEEF PATTY, COOKED
12                  BEEF STEAK, FRIED, LEAN AND FAT EATEN
                              ...
1928                           PEANUT BUTTER, REDUCED FAT
1929              WHITE BEANS, DRY, COOKED, MADE WITH OIL
1935    BEANS, CANNED, DRAINED, NS AS TO TYPE, FAT NOT...
1938                                            HAZELNUTS
1947                            PAPAD, GRILLED OR BROILED
Name: drxfcsd, Length: 490, dtype: object

In [10]:
app = xw.App()
wb = xw.Book("/Users/clee/Dropbox/Aim 1/Writing/2015-16/FoodSubs.xlsx")

wb.sheets.add('Overall Mixed Dishes')
wb.sheets.add('Overall Milk and Dairy')
wb.sheets.add('Overall Snacks and Sweets')
wb.sheets.add('Overall Beverages NA')

In [11]:
ttpt = wb.sheets['Overall Protein']
ttmd = wb.sheets['Overall Mixed Dishes']
ttmk = wb.sheets['Overall Milk and Dairy']
ttss = wb.sheets['Overall Snacks and Sweets']
ttbv = wb.sheets['Overall Beverages NA']

In [12]:
#Write on a specific cell range with a specific range of DF
ttpt.range('C4').options(index=False,header=False).value = ptage2.iloc[0:100]
ttpt.range('D4').options(index=False,header=False).value = ptage18.iloc[0:100]
ttpt.range('E4').options(index=False,header=False).value = ptage26.iloc[0:100]
ttpt.range('F4').options(index=False,header=False).value = ptage40.iloc[0:100]
ttpt.range('G4').options(index=False,header=False).value = ptage60.iloc[0:100]

## Mixed Dishes

In [13]:
mdage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [14]:
mdage2

2                                     SOFT TACO WITH MEAT
4       PASTA WITH TOMATO-BASED SAUCE AND MEAT, HOME R...
5       PIZZA WITH PEPPERONI, FROM RESTAURANT OR FAST ...
14         HAMBURGER, 1 MEDIUM PATTY, PLAIN, ON WHITE BUN
15      CHEESEBURGER, 1 MEDIUM PATTY, PLAIN, ON WHITE BUN
                              ...
1896      TUNA NOODLE CASSEROLE WITH CREAM OR WHITE SAUCE
1909                              FISH STOCK, HOME RECIPE
1915    CHICKEN OR TURKEY SOUP, CREAM OF, NS AS TO PRE...
1946                        ONION SOUP, MADE FROM DRY MIX
1950             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
Name: drxfcsd, Length: 691, dtype: object

In [15]:
#Write on a specific cell range with a specific range of DF
ttmd.range('C4').options(index=False,header=False).value = mdage2.iloc[0:100]
ttmd.range('D4').options(index=False,header=False).value = mdage18.iloc[0:100]
ttmd.range('E4').options(index=False,header=False).value = mdage26.iloc[0:100]
ttmd.range('F4').options(index=False,header=False).value = mdage40.iloc[0:100]
ttmd.range('G4').options(index=False,header=False).value = mdage60.iloc[0:100]

## Milk & Dairy

In [16]:
mkage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [17]:
mkage2

0                          MILK, REDUCED FAT (2%)
1                                     MILK, WHOLE
6                              MILK, LOW FAT (1%)
8                                CHEESE, AMERICAN
13                                CHEESE, CHEDDAR
                          ...
1602                CHEESE, PROCESSED CHEESE FOOD
1646           CHEESE, MEXICAN BLEND, REDUCED FAT
1670                COCONUT MILK, USED IN COOKING
1749    CHEESE, PARMESAN, DRY GRATED, REDUCED FAT
1789                                  YOGURT, NFS
Name: drxfcsd, Length: 137, dtype: object

In [18]:
#Write on a specific cell range with a specific range of DF
ttmk.range('C4').options(index=False,header=False).value = mkage2.iloc[0:100]
ttmk.range('D4').options(index=False,header=False).value = mkage18.iloc[0:100]
ttmk.range('E4').options(index=False,header=False).value = mkage26.iloc[0:100]
ttmk.range('F4').options(index=False,header=False).value = mkage40.iloc[0:100]
ttmk.range('G4').options(index=False,header=False).value = mkage60.iloc[0:100]

## Beverages NA

In [19]:
bvage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [20]:
bvage2

7                                       APPLE JUICE, 100%
65                          FRUIT JUICE BLEND, 100% JUICE
83      ORANGE JUICE, 100%, CANNED, BOTTLED OR IN A CA...
116                 APPLE JUICE, 100%, WITH CALCIUM ADDED
138                     CRANBERRY JUICE BLEND, 100% JUICE
                              ...
1939                                      CEREAL BEVERAGE
1940    TEA, ICED, BREWED, GREEN, DECAFFEINATED, UNSWE...
1941                                   TEA, HOT, HIBISCUS
1943                                  TEA, HOT, CHAMOMILE
1945                              FRUIT JUICE DRINK, DIET
Name: drxfcsd, Length: 176, dtype: object

In [21]:
#Write on a specific cell range with a specific range of DF
ttbv.range('C4').options(index=False,header=False).value = bvage2.iloc[0:100]
ttbv.range('D4').options(index=False,header=False).value = bvage18.iloc[0:100]
ttbv.range('E4').options(index=False,header=False).value = bvage26.iloc[0:100]
ttbv.range('F4').options(index=False,header=False).value = bvage40.iloc[0:100]
ttbv.range('G4').options(index=False,header=False).value = bvage60.iloc[0:100]

## Snacks & Sweets

In [22]:
ssage2 = (tt_age.loc[(tt_age['tb_ageCatstr']==1)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage18 = (tt_age.loc[(tt_age['tb_ageCatstr']==4)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage26 = (tt_age.loc[(tt_age['tb_ageCatstr']==5)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage40 = (tt_age.loc[(tt_age['tb_ageCatstr']==6)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssage60 = (tt_age.loc[(tt_age['tb_ageCatstr']==8)&(tt_age['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [23]:
ssage2

17       ICE CREAM, REGULAR, FLAVORS OTHER THAN CHOCOLATE
97                                 COOKIE, CHOCOLATE CHIP
98                          ICE CREAM, REGULAR, CHOCOLATE
105     CAKE OR CUPCAKE, CHOCOLATE, DEVIL'S FOOD OR FU...
137                  FRUIT LEATHER AND FRUIT SNACKS CANDY
                              ...
1936                           PRETZEL CHIPS, HARD, PLAIN
1942                         POPCORN CHIPS, OTHER FLAVORS
1944                       CRACKERS, SALTINE, REDUCED FAT
1948       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
1949                   DIETETIC OR LOW CALORIE HARD CANDY
Name: drxfcsd, Length: 457, dtype: object

In [24]:
#Write on a specific cell range with a specific range of DF
ttss.range('C4').options(index=False,header=False).value = ssage2.iloc[0:100]
ttss.range('D4').options(index=False,header=False).value = ssage18.iloc[0:100]
ttss.range('E4').options(index=False,header=False).value = ssage26.iloc[0:100]
ttss.range('F4').options(index=False,header=False).value = ssage40.iloc[0:100]
ttss.range('G4').options(index=False,header=False).value = ssage60.iloc[0:100]

# GENDER

In [25]:
tt_gd=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/total_ghg/by demo/Analysis_fdcodes-fdlvl3_ghgcons_by gender.xlsx")

In [26]:
tt_gd.shape

(5258, 7)

In [27]:
tt_gd.head()

,genderCat,genderCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
0,Male,1,Protein Foods,"Beef, excludes ground",21101130,"BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN",2.338863e+07
1,Male,1,Mixed Dishes,Burritos and tacos,58101345,SOFT TACO WITH MEAT,1.810008e+07
2,Male,1,Protein Foods,"Beef, excludes ground",21101120,"BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN",1.613857e+07
3,Male,1,Milk and Dairy,"Milk, reduced fat",11112110,"MILK, REDUCED FAT (2%)",1.283829e+07
4,Male,1,Milk and Dairy,"Milk, whole",11111000,"MILK, WHOLE",9.424934e+06

In [28]:
tt_gd = tt_gd.sort_values(['total_ghgcons'],ascending=[False])

In [29]:
tt_gd.tail()

,genderCat,genderCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
2606,Male,1,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",0.0
2605,Male,1,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,0.0
2603,Male,1,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,0.0
2604,Male,1,Mixed Dishes,Seafood mixed dishes,27450660,SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...,0.0
5257,Female,2,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",0.0

In [30]:
tt_gd.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Beverages, Nonalcoholic', 'Snacks and Sweets'], dtype=object)

## Protein

In [31]:
ptgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [32]:
ptgdm

0           BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN
2        BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN
6                               GROUND BEEF PATTY, COOKED
7                    BEEF STEAK, BRAISED, LEAN ONLY EATEN
12               BEEF, ROAST, ROASTED, NS AS TO FAT EATEN
                              ...
2582                      TEXTURED VEGETABLE PROTEIN, DRY
2586                                      EDAMAME, COOKED
2592                                PUMPKIN SEEDS, SALTED
2593                                          WASABI PEAS
2599    FAVA BEANS, CANNED, DRAINED, FAT ADDED IN COOKING
Name: drxfcsd, Length: 708, dtype: object

In [33]:
#Write on a specific cell range with a specific range of DF
ttpt.range('H4').options(index=False,header=False).value = ptgdm.iloc[0:100]
ttpt.range('I4').options(index=False,header=False).value = ptgdf.iloc[0:100]

## Mixed Dishes

In [34]:
mdgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [35]:
mdgdm

1                                     SOFT TACO WITH MEAT
5       MEAT LOAF MADE WITH BEEF, WITH TOMATO-BASED SAUCE
9                                MEAT LOAF MADE WITH BEEF
11      FRANKFURTER OR HOT DOG SANDWICH, BEEF, PLAIN, ...
16      PASTA WITH TOMATO-BASED SAUCE AND MEAT, HOME R...
                              ...
2579    CHICKEN OR TURKEY SOUP, CREAM OF, NS AS TO PRE...
2601                        ONION SOUP, MADE FROM DRY MIX
2606         EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN
2603             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
2604    SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...
Name: drxfcsd, Length: 969, dtype: object

In [36]:
#Write on a specific cell range with a specific range of DF
ttmd.range('H4').options(index=False,header=False).value = mdgdm.iloc[0:100]
ttmd.range('I4').options(index=False,header=False).value = mdgdf.iloc[0:100]

## Milk & Dairy

In [37]:
mkgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [38]:
mkgdf

2608             MILK, REDUCED FAT (2%)
2610                        MILK, WHOLE
2617                    CHEESE, CHEDDAR
2621           CHEESE, COTTAGE, LOW FAT
2623                   CHEESE, AMERICAN
                     ...
5026                    QUESO CHIHUAHUA
5131    MILK, DRY, RECONSTITUTED, WHOLE
5143          STRAWBERRY MILK, FAT FREE
5156                    CHEESE, RICOTTA
5190                       QUESO COTIJA
Name: drxfcsd, Length: 160, dtype: object

In [39]:
#Write on a specific cell range with a specific range of DF
ttmk.range('H4').options(index=False,header=False).value = mkgdm.iloc[0:100]
ttmk.range('I4').options(index=False,header=False).value = mkgdf.iloc[0:100]

## Beverages NA

In [40]:
bvgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [41]:
bvgdf

2624                                       COFFEE, BREWED
2647                                    APPLE JUICE, 100%
2692           FRUIT SMOOTHIE, WITH WHOLE FRUIT AND DAIRY
2705                    CRANBERRY JUICE BLEND, 100% JUICE
2709    ORANGE JUICE, 100%, CANNED, BOTTLED OR IN A CA...
                              ...
5239                             FRUIT JUICE DRINK, LIGHT
5243               TEA, ICED, BOTTLED, GREEN, UNSWEETENED
5246                                      CEREAL BEVERAGE
5247                                   TEA, HOT, HIBISCUS
5251                              FRUIT JUICE DRINK, DIET
Name: drxfcsd, Length: 238, dtype: object

In [42]:
#Write on a specific cell range with a specific range of DF
ttbv.range('H4').options(index=False,header=False).value = bvgdm.iloc[0:100]
ttbv.range('I4').options(index=False,header=False).value = bvgdf.iloc[0:100]

## Snacks & Sweets

In [43]:
ssgdm = (tt_gd.loc[(tt_gd['genderCatstr']==1)&(tt_gd['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssgdf = (tt_gd.loc[(tt_gd['genderCatstr']==2)&(tt_gd['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [44]:
ssgdf

2620     ICE CREAM, REGULAR, FLAVORS OTHER THAN CHOCOLATE
2720    CAKE OR CUPCAKE, CHOCOLATE, DEVIL'S FOOD OR FU...
2732                        ICE CREAM, REGULAR, CHOCOLATE
2761                               COOKIE, CHOCOLATE CHIP
2765                          MILK CHOCOLATE CANDY, PLAIN
                              ...
5245                           PRETZEL CHIPS, HARD, PLAIN
5249                                SESAME CRUNCH, SAHADI
5250                     POPCORN, MICROWAVE, PLAIN, LIGHT
5255                   DIETETIC OR LOW CALORIE HARD CANDY
5257       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
Name: drxfcsd, Length: 564, dtype: object

In [45]:
#Write on a specific cell range with a specific range of DF
ttss.range('H4').options(index=False,header=False).value = ssgdm.iloc[0:100]
ttss.range('I4').options(index=False,header=False).value = ssgdf.iloc[0:100]

# RACE

In [46]:
tt_rc=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/total_ghg/by demo/Analysis_fdcodes-fdlvl3_ghgcons_by race.xlsx")

In [47]:
tt_rc.shape

(7561, 7)

In [48]:
tt_rc.head()

,raceCat,raceCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
0,Non-Hispanic White,1,Protein Foods,"Beef, excludes ground",21101130,"BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN",2.070465e+07
1,Non-Hispanic White,1,Protein Foods,"Beef, excludes ground",21101120,"BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN",1.510210e+07
2,Non-Hispanic White,1,Milk and Dairy,"Milk, reduced fat",11112110,"MILK, REDUCED FAT (2%)",1.291290e+07
3,Non-Hispanic White,1,Milk and Dairy,"Milk, whole",11111000,"MILK, WHOLE",9.894702e+06
4,Non-Hispanic White,1,Protein Foods,Ground beef,21500310,"GROUND BEEF PATTY, COOKED",9.230866e+06

In [49]:
tt_rc = tt_rc.sort_values(['total_ghgcons'],ascending=[False])

In [50]:
tt_rc.tail()

,raceCat,raceCatstr,foodcat_lvl1,category_description,food_code,drxfcsd,total_ghgcons
3844,Non-Hispanic Black,2,Mixed Dishes,Egg/breakfast sandwiches (single code),32202035,"EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN",0.0
3845,Non-Hispanic Black,2,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,0.0
3846,Non-Hispanic Black,2,Snacks and Sweets,Candy not containing chocolate,91770020,DIETETIC OR LOW CALORIE HARD CANDY,0.0
5922,Mexican American and other Hispanic,3,Mixed Dishes,Burritos and tacos,58101325,TACO OR TOSTADA WITH MEAT AND SOUR CREAM,0.0
7560,Other Race,4,Snacks and Sweets,Popcorn,54403092,"POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED",0.0

In [51]:
tt_rc.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Beverages, Nonalcoholic', 'Snacks and Sweets'], dtype=object)

## Protein

In [52]:
ptrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]
ptrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Protein Foods")]).loc[:,('drxfcsd')]

In [53]:
ptrco

5925       BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN
5927                BEEF STEAK, BRAISED, LEAN ONLY EATEN
5930                  BEEF STEAK, FRIED, LEAN ONLY EATEN
5931    BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN
5936                                 GROUND BEEF, COOKED
                              ...
7541                                         WASABI PEAS
7542                    SUNFLOWER SEEDS, PLAIN, UNSALTED
7544                               PUMPKIN SEEDS, SALTED
7547                                         MIXED SEEDS
7554                                  PUMPKIN SEEDS, NFS
Name: drxfcsd, Length: 454, dtype: object

In [54]:
#Write on a specific cell range with a specific range of DF
ttpt.range('J4').options(index=False,header=False).value = ptrcw.iloc[0:100]
ttpt.range('K4').options(index=False,header=False).value = ptrcb.iloc[0:100]
ttpt.range('L4').options(index=False,header=False).value = ptrch.iloc[0:100]
ttpt.range('M4').options(index=False,header=False).value = ptrco.iloc[0:100]

## Mixed Dishes

In [55]:
mdrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]
mdrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Mixed Dishes")]).loc[:,('drxfcsd')]

In [56]:
mdrco

5926                                                  PHO
5932                      FAJITA WITH MEAT AND VEGETABLES
5933                        BEEF NOODLE SOUP, HOME RECIPE
5934    PASTA WITH TOMATO-BASED SAUCE AND MEAT, HOME R...
5935                                 LAMB OR MUTTON CURRY
                              ...
7488    SQUASH, WINTER TYPE, SOUP, HOME RECIPE, CANNED...
7510                              FISH STOCK, HOME RECIPE
7513        CAKE MADE WITH GLUTINOUS RICE AND DRIED BEANS
7521      TUNA NOODLE CASSEROLE WITH CREAM OR WHITE SAUCE
7527                     SEAWEED, PREPARED WITH SOY SAUCE
Name: drxfcsd, Length: 545, dtype: object

In [57]:
#Write on a specific cell range with a specific range of DF
ttmd.range('J4').options(index=False,header=False).value = mdrcw.iloc[0:100]
ttmd.range('K4').options(index=False,header=False).value = mdrcb.iloc[0:100]
ttmd.range('L4').options(index=False,header=False).value = mdrch.iloc[0:100]
ttmd.range('M4').options(index=False,header=False).value = mdrco.iloc[0:100]

## Milk & Dairy

In [58]:
mkrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]
mkrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Milk and Dairy")]).loc[:,('drxfcsd')]

In [59]:
mkrco

5928                               MILK, REDUCED FAT (2%)
5929                                          MILK, WHOLE
5951                                     CHEESE, AMERICAN
5959                                   MILK, LOW FAT (1%)
5968                                MILK, FAT FREE (SKIM)
                              ...
7322                                      SOY MILK, LIGHT
7346            CHEESE, PARMESAN, DRY GRATED, REDUCED FAT
7398                                     SOY MILK, NONFAT
7405    CHEESE, PROCESSED CREAM CHEESE PRODUCT, NONFAT...
7409                                         CHEESE, GOAT
Name: drxfcsd, Length: 106, dtype: object

In [60]:
#Write on a specific cell range with a specific range of DF
ttmk.range('J4').options(index=False,header=False).value = mkrcw.iloc[0:100]
ttmk.range('K4').options(index=False,header=False).value = mkrcb.iloc[0:100]
ttmk.range('L4').options(index=False,header=False).value = mkrch.iloc[0:100]
ttmk.range('M4').options(index=False,header=False).value = mkrco.iloc[0:100]

## Beverages NA

In [61]:
bvrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]
bvrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Beverages, Nonalcoholic")]).loc[:,('drxfcsd')]

In [62]:
bvrco

5952                                       COFFEE, BREWED
5967                                    APPLE JUICE, 100%
6003                        FRUIT JUICE BLEND, 100% JUICE
6025    ORANGE JUICE, 100%, CANNED, BOTTLED OR IN A CA...
6036                           COCONUT WATER, UNSWEETENED
                              ...
7548               SOFT DRINK, PEPPER TYPE, DECAFFEINATED
7553                                      CEREAL BEVERAGE
7555                                  TEA, HOT, CHAMOMILE
7556                              FRUIT JUICE DRINK, DIET
7558                             FRUIT JUICE DRINK, LIGHT
Name: drxfcsd, Length: 169, dtype: object

In [63]:
#Write on a specific cell range with a specific range of DF
ttbv.range('J4').options(index=False,header=False).value = bvrcw.iloc[0:100]
ttbv.range('K4').options(index=False,header=False).value = bvrcb.iloc[0:100]
ttbv.range('L4').options(index=False,header=False).value = bvrch.iloc[0:100]
ttbv.range('M4').options(index=False,header=False).value = bvrco.iloc[0:100]

## Snacks & Sweets

In [64]:
ssrcw = (tt_rc.loc[(tt_rc['raceCatstr']==1)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrcb = (tt_rc.loc[(tt_rc['raceCatstr']==2)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrch = (tt_rc.loc[(tt_rc['raceCatstr']==3)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]
ssrco = (tt_rc.loc[(tt_rc['raceCatstr']==4)&(tt_rc['foodcat_lvl1']=="Snacks and Sweets")]).loc[:,('drxfcsd')]

In [65]:
ssrco

5940     ICE CREAM, REGULAR, FLAVORS OTHER THAN CHOCOLATE
6063    CAKE OR CUPCAKE, CHOCOLATE, DEVIL'S FOOD OR FU...
6080                                            CROISSANT
6131                               COOKIE, CHOCOLATE CHIP
6159                              COOKIE, BUTTER OR SUGAR
                              ...
7551         POPCORN, READY-TO-EAT PACKAGED, PLAIN, LIGHT
7552                                SESAME CRUNCH, SAHADI
7557                         CRACKERS, WHEAT, REDUCED FAT
7559                   DIETETIC OR LOW CALORIE HARD CANDY
7560       POPCORN, READY-TO-EAT PACKAGED, OTHER FLAVORED
Name: drxfcsd, Length: 362, dtype: object

In [66]:
#Write on a specific cell range with a specific range of DF
ttss.range('J4').options(index=False,header=False).value = ssrcw.iloc[0:100]
ttss.range('K4').options(index=False,header=False).value = ssrcb.iloc[0:100]
ttss.range('L4').options(index=False,header=False).value = ssrch.iloc[0:100]
ttss.range('M4').options(index=False,header=False).value = ssrco.iloc[0:100]

# OVERALL

In [67]:
tt_ov=pd.read_excel("/Users/clee/Dropbox/Aim 1/Analysis/Ranking/2015-16/total_ghg/Analysis_foodcodes_ghgconsumed_weighted.xlsx")

In [68]:
tt_ov.shape

(4882, 7)

In [69]:
tt_ov.head()

,foodcat_lvl1,food_code,drxfcsd,total_ghgcons,mean_ghgcons,mean_ghg100,freq
0,Protein Foods,21101130,"BEEF STEAK, BROILED OR BAKED, LEAN ONLY EATEN",3.373401e+07,6.150408,4.210774,5.484841e+06
1,Mixed Dishes,58101345,SOFT TACO WITH MEAT,2.580280e+07,4.527406,1.562998,5.699247e+06
2,Protein Foods,21101120,"BEEF STEAK, BROILED OR BAKED, LEAN AND FAT EATEN",2.164989e+07,6.825477,4.210774,3.171923e+06
3,Milk and Dairy,11112110,"MILK, REDUCED FAT (2%)",2.144307e+07,0.360572,0.160628,5.946961e+07
4,Milk and Dairy,11111000,"MILK, WHOLE",1.686874e+07,0.381546,0.178790,4.421153e+07

In [70]:
tt_ov = tt_ov.sort_values(['total_ghgcons'],ascending=[False])

In [71]:
tt_ov.tail()

,foodcat_lvl1,food_code,drxfcsd,total_ghgcons,mean_ghgcons,mean_ghg100,freq
4830,Alcoholic Beverages,93301183,WHISKEY AND DIET COLA,0.0,NaN,NaN,320240.824800
4829,Grains,57344007,CEREAL (KELLOGG'S SPECIAL K LOW FAT GRANOLA),0.0,NaN,NaN,74700.751261
4828,Infant Formula & Baby Food,76407020,"MIXED VEGETABLES, GARDEN VEGETABLES, BABY FOOD...",0.0,NaN,NaN,18501.346172
4827,Infant Formula & Baby Food,67105030,"BANANAS, BABY FOOD, STRAINED",0.0,NaN,NaN,5547.603390
4881,Infant Formula & Baby Food,67600100,"APPLES AND SWEET POTATOES, BABY FOOD, STRAINED",0.0,NaN,NaN,18059.966796

In [72]:
tt_ov.foodcat_lvl1.unique()

array(['Protein Foods', 'Mixed Dishes', 'Milk and Dairy',
       'Beverages, Nonalcoholic', 'Snacks and Sweets', 'Fruit',
       'Alcoholic Beverages', 'Fats and Oils', 'Vegetables', 'Grains',
       'Other', 'Water', 'Condiments and Sauces', 'Sugars',
       'Infant Formula & Baby Food'], dtype=object)

## 5 categories

In [73]:
pt = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Protein Foods"]).loc[:,('drxfcsd')]
md = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Mixed Dishes"]).loc[:,('drxfcsd')]
mk = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Milk and Dairy"]).loc[:,('drxfcsd')]
bv = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Beverages, Nonalcoholic"]).loc[:,('drxfcsd')]
ss = (tt_ov.loc[tt_ov['foodcat_lvl1']=="Snacks and Sweets"]).loc[:,('drxfcsd')]

In [74]:
md

1                                     SOFT TACO WITH MEAT
7       MEAT LOAF MADE WITH BEEF, WITH TOMATO-BASED SAUCE
11      PASTA WITH TOMATO-BASED SAUCE AND MEAT, HOME R...
12                               MEAT LOAF MADE WITH BEEF
16                                      BURRITO WITH MEAT
                              ...
4746                     SEAWEED, PREPARED WITH SOY SAUCE
4775    GARBANZO BEAN OR CHICKPEA SOUP, HOME RECIPE, C...
4854         EGG, EXTRA CHEESE, AND EXTRA SAUSAGE, ON BUN
4853    SHELLFISH MIXTURE AND VEGETABLES EXCLUDING CAR...
4865             TACO OR TOSTADA WITH MEAT AND SOUR CREAM
Name: drxfcsd, Length: 1181, dtype: object

In [75]:
app = xw.App()
wb = xw.Book("/Users/clee/Dropbox/Aim 1/Writing/2015-16/FoodSubs.xlsx")

wb.sheets.add('Overall Mixed Dishes')
wb.sheets.add('Overall Milk and Dairy')
wb.sheets.add('Overall Snacks and Sweets')
wb.sheets.add('Overall Beverages NA')

In [76]:
ttpt = wb.sheets['Overall Protein']
ttmd = wb.sheets['Overall Mixed Dishes']
ttmk = wb.sheets['Overall Milk and Dairy']
ttss = wb.sheets['Overall Snacks and Sweets']
ttbv = wb.sheets['Overall Beverages NA']

In [77]:
#Write on a specific cell range with a specific range of DF
ttpt.range('B4').options(index=False,header=False).value = pt.iloc[0:100]
ttmd.range('B4').options(index=False,header=False).value = md.iloc[0:100]
ttmk.range('B4').options(index=False,header=False).value = mk.iloc[0:100]
ttbv.range('B4').options(index=False,header=False).value = bv.iloc[0:100]
ttss.range('B4').options(index=False,header=False).value = ss.iloc[0:100]

In [78]:
wb.save()